/*0. GENERAL*/
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background-color: #080808;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
}
a{
    color: white;
}
figure{
    margin: 0;
}
#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}
.bigContainer{
    position: relative;
    z-index: 99;
}
/*1. HEADER*/
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    outline: none;
    width: 200px;
    margin-top: 10px;
    margin-left: 15px;
}
main{
    color: white;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item a{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}
.item img{
    height: 250px;
    transition: 0.2s;
}
.item img:hover{
    transform: scale(1.2);
}
.item p{
    display: flex;
    margin-top: 4px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.Ed{
    padding: 10px;
    background-color: rgba(0, 0, 0,0.5);
    margin-top: 30px;
}
.onlineEd img{
    padding-bottom: 0;
}
.onlineEd-page{
    border: 3px solid white;
    border-radius: 15px;
    padding: 10px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.courses p{
    margin-top: 5px;
}
.profile{
    padding: 5px 20px;
    text-decoration: none;
    color:#9409d4;
    border: 1px solid #9409d4;
    border-radius: 5px;
}
.profile:hover{
    color: white;
    background-color: #9409d4;
    transition: background-color 0.3s ease 0s;
}

/* FORMAL EDUCATION's SECTION */
.graduation{
    padding: 0;
    position: relative;
    width: 100%;
    height: 200px;
}
.graduation-img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.7;
}
.graduation-details{
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    
}
.graduation-details p{
    margin: 1px;
    font-size: 19px;
    color: black;
    font-weight: bold;
    text-shadow: -1px 0 rgba(255, 255, 255, 0.6), 0 1px rgba(255, 255, 255, 0.6), 1px 0 rgba(255, 255, 255, 0.6), 0 -1px rgba(255, 255, 255, 0.6);
}
.graduation-details h3{
    margin: 5px;
    font-size: 23px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/* BOOKS's SECTION */
.bookEd{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.book{
    margin: 10px;
    width: 350px;
    border-radius: 10px;
    position: relative;
}
.book img{
    width:  350px;
    height: 200px;
    object-fit: cover;
    opacity: 0.5;
    border-radius: 10px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.book-detail{
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    color: white;
    position: absolute;
    text-align: center;
    margin-top: 10%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.book-title{
    color: #04cde7;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 20px;
    letter-spacing: .4px;
}

/*RESPONSIVE DESIGN*/
@media only screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }
    .item img{
        height: 140px;
    }
    .item img:hover{
        transform: scale(1);
    }
    .onlineEd-page{
        margin-right: 0px;
    }
    .profile{
        padding: 5px 5px;
    }
}