body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background-color: #080808;
    font-size: 16px;
    --main-color: #9409d4;
    --secondary-color: #f6f6f6;
}
*::selection {
    background: var(--main-color);
    color: #fff;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
}

h1{
    color: white;
    font-size: 2.5em;
    line-height: 1.5em;
    margin: 0;
}
h1 strong{
    color: #04cde7;
}
h2{
    color: #04cde7;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 0;
}
figure{
    margin: 0;
}
hr {
    margin: 1em 2em;
    width: 25%;
    border: none;
    border-bottom: 1px solid rgba(4, 205, 231, 0.1)
}
#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}
.bigContainer{
    position: relative;
    z-index: 99;
}

/* HEADER */
.header{
    background: linear-gradient(black, transparent);
    color: white;
    width: 100%;
    height: 4.37em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    margin: 1.25em;
    margin-bottom: 0;
}
.logo img {
    width: 4.37em;
}
.link{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 0.62em;
}
.link:hover{
    color: #04cde7;
}

/* MAIN */
    /* Welcome */
.hero{
    height: 35.62em;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: space-between;
}
.welcome{
    background-color: rgba(0, 0, 0,0.8);
    border: grey solid;
    border-radius: 15px;
    padding: 0.9em;
}
.webTech p{
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1.25em;
}
.iconsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.iconsContainer p {
    font-size: 1em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconsContainer img {
    margin-left: 0.5em;
}
    /* Portfolio */
.portfolio{
    background-color: rgba(0, 0, 0,0.8);
    padding: 1.25em;
}
.container hr {
    margin: 1.5em 0;
    width: 25%;
    border: none;
    border-bottom: 1px solid rgba(4, 205, 231, 0.1);
}
.project{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 4em;
    padding: 1.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-url{
    margin: 0.6em 0;
}
.project-url{
    color: #04cde7;
    text-decoration: none;
}
.project-description{
    font-size: 1em;
}
.project strong{
    font-family: 'Fjalla One', sans-serif;
}
.project-title{
    font-size: 1.87em;
    margin-top: 0;
    margin-bottom: 0.6rem;
}
.project-details{
    width: 31.25em;
    color: white;
}
.project-imageContainer{
    width: 31.25em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-image {
    opacity: 1;
    display: block;
    width: 31.25em;
    transition: .5s ease;
    backface-visibility: hidden;
}
.project-image-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
}
.project-imageContainer:hover .project-image {
    opacity: 0.3;
}
  
.project-imageContainer:hover .project-image-overlay {
    opacity: 1;
}

    /* Experience */
.event{
    margin: 0.6em;
    width: 30em;
    flex-shrink: 0; /* How much can it shrink*/
    border-radius: 10px;
    overflow: hidden;
    background: rgb(240, 240, 240);
}
.event-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.event-list-title{
    margin-left: 1.25em;
}
.event img{
    width:  30em;
    height: 12.5em;
    object-fit: cover;
}
.event-detail{
    color: white;
    border-radius: 10px;
    margin: 1.25em;
    margin-top: -2.5em;
    background-color: rgb(0, 0, 0);
    position: relative;
    padding: 1.25em;
    text-align: center;
}
.event-title{
    color: #04cde7;
    font-size: 1.25em;
    letter-spacing: .4px;
}
.event-description{
    text-align: left;
}
.event-url{
    padding: 0.3em 1.25em;
    text-decoration: none;
    color: #9409d4;
    border: 1px solid;
    border-radius: 5px;
    transition: 0.3s ease 0s;
}
.event-url:hover{
    color: white;
    border: 1px solid #9409d4;
    background-color: #9409d4;
}

    /* Contact */
.contact{
    background: linear-gradient(transparent,black);
    height: 7.81em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container{
    width: 80%;
    max-width: 62.5em;
    min-width: 20em;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: wrap;
}
.invitation h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    margin: 0.6em;
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
    color: white;
}
.social-link{
    display: inline-block;
    width: 3.12em;
    height: 3.12em;
    background-size: 3.12em 3.12em;
    margin: 0 0.6em;
}

.social-link.twitter{
    background-image: url("https://img.icons8.com/nolan/64/twitter.png");
}
.social-link.facebook{
    background-image: url("https://img.icons8.com/nolan/64/facebook.png");
}
.social-link.github{
    background-image: url("https://img.icons8.com/nolan/64/github.png");
}
.social-link.instagram{
    background-image: url("https://img.icons8.com/nolan/64/instagram-new.png");
}
.social-link.linkedin{
    background-image: url("https://img.icons8.com/nolan/64/linkedin.png");
}

/* FOOTER */
.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 0 1.25em 0.6em 0;
    font-size: 0.8em;
}
.footer a{
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 700px){
    body {
        font-size: 13px;
    }
    #particles-js {
        opacity: 40%;
    }
    h1{
        font-size: 2em;
    }
    hr {
        margin: 1em auto;
        width: 70%;
    }
    .welcome{
        background-color: transparent;
        border: none;
    }
    .iconsContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .iconsContainer img {
        width: 3em;
    }
    .container {
        width: 95%;
    }
    .container h2{
        text-align: center;
    }
    .container hr {
        margin: 1em auto;
        width: 50%;
    }
    .event-list-title{
        text-align: center;
        margin-left: 0;
    }
    .event{
        width: 18.75em;
        background: rgba(8, 8, 8, 0.5);
    }
    .event-detail{
        margin: auto;
        margin-top: auto;
        padding-top: auto;
        margin-bottom: 1em;
        border: 1px solid white;
    }
    .event img{
        display: none;
    }
    .invitation h4 {
        margin-top: 1em;
    }
    .social-link{
        margin: 0 0.6em 0 0.6em;
    }
    .footer{
        font-size: 0.6em;
        padding: auto;
    }
}
@media only screen and (max-width: 850px){
    .project{
        flex-direction: column;
        margin: 0;
        margin-bottom: 2em;
    }
    .project-details{
        width: auto;
    }
    .project-imageContainer{
        width: auto;
    }
}
/* iPad Pro */ @media only screen and (max-width: 1100px){
    .hero{
        justify-content: center;
    }
    .project-image{
        width: 20em;
    }
}