/*GENERAL*/
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background-color: #111111;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
}

h1{
    color: white;
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    margin: 100px 150px 70px 30px;
    margin: 0;
}
h1 strong{
    color: #04cde7;
}
h2{
    color: #04cde7;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}

/*HEADER*/
header{
    background-color: #111111;
    color: white;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
figure{
    margin: 0;
}
header a{
    color: white;
    text-decoration: none;
}
.menu{
    height: inherit;
}
.menu li:hover{
    text-decoration: underline;
}
.header ol{
    display: flex;
    height: inherit;
}
.header ol li{
    height: inherit;

}
header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

/*MAIN*/
.hero{
    height: 300px;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-image{
    object-fit: cover;
    max-width: 360px;
}
.portfolio{
    background: #161616;
    padding: 20px;
}
.project{
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-course,
.project-date,
.project-url{
    margin: 10px 0;
}
.project-description{
    font-size: 15px;
}
.project strong{
    font-family: 'Fjalla One', sans-serif;
}
.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
.project-details{
    width: 500px;
}
.project-imageContainer{
    width: 500px;
}


.event-list{
    display: flex;
    flex-wrap: wrap;
}
.event-list-title{
    margin-left: 20px;
}
.event{
    margin: 10px;
    width: 480px;
    flex-shrink: 0; /*(Cuanto puede achicarse)*/
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}
.event img{
    width:  480px;
    height: 200px;
    object-fit: cover;
}
.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}
.event-description{
    text-align: left;
}
.event-url{
    padding: 5px 20px;
    text-decoration: none;
    color:#9409d4;
    border: 1px solid;
    border-radius: 5px;
}
.contact{
    background: linear-gradient(#111111,#202429);
    color: black;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*SOCIAL LINKS*/
.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}
.social-link.twitter{
    background-image: url("https://img.icons8.com/android/48/000000/twitter.png");
}
.social-link.facebook{
    background-image: url("https://img.icons8.com/android/48/000000/facebook.png");
}
.social-link.github{
    background-image: url("https://img.icons8.com/android/48/000000/github.png");
}
.social-link.instagram{
    background-image: url("https://img.icons8.com/android/48/000000/instagram.png");
}

/*EMAIL REQUEST*/
.form-email input{
    border-color: #9409d4;
    border-radius: 5px;
    border-style: solid;
    padding: 5px 20px 5px 25px;
    background-image: url("https://img.icons8.com/ios-filled/50/000000/delivered-mail.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    background-color: rgba(4, 205, 231, 0.1);
}
.form-email button{
    font-weight: bold;
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
}
.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin: 10px;
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
    color: white;
}
.container{
    width: 80%;
    max-width: 1000px;
    min-width: 320px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: wrap;
}

/*FOOTER*/
.footer{
    background-color: #202429;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 10px 0;
}
.footer a{
    color: white;
    text-decoration: none;
}