body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    background:#111111;
}
.button{
    outline: none;
}
/*HEADER*/
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    outline: none;
    width: 200px;
    margin-top: 10px;
    margin-left: 15px;
}
/*MAIN*/
.main{
    height: 150px;
}
.main__title{
    color: white;
    font-size: 23px;
    /*Centrado:*/
    display: flex;
    justify-content: center;
}.main__title--menu{
    display: flex;
    align-items: center;
}
.main__title--menu-popup{
    display: none;
    text-decoration: none;
    border-radius: 20px;
    list-style: none;
    padding: 10px;
    position: absolute;
    width: 300px;
    height: 50px;
    text-align: center;
    margin: 0px 0px 0px 170px;
    background: red;
    color: white;
}
.main__title--menu:hover .main__title--menu-popup, .main__title--menu-popup:hover{
    display: block;
}
.main__title--menu-img{
    margin-right: 8px;
    display: flex;
    align-items: center;
    animation-name: logo;
    animation-duration: 1s;
}
.main__title--menu-img img{
    margin-right: 8px;
    width: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center;
}
.main__title--menu-img img:hover{
    border-radius: 100px;
    transform: scale(1.2);
}
.categories__title{
    color: white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
}

.carousel{
    overflow: scroll;
    padding: 45px;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
/*SCROLLBAR*/
    .carousel::-webkit-scrollbar {
        width: 12px;
    }
    .carousel::-webkit-scrollbar:vertical {
        display: none;
    }
    .carousel::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    .carousel::-webkit-scrollbar-track-piece {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    }
    .carousel::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    .carousel::-webkit-scrollbar-corner{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

.carousel__container{
    white-space: nowrap;
    margin: 20px 0px;
    padding-bottom: 10px;
}
.carousel-item{
    width: 426,2px;
    height: 240px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}
.carousel-final-item{
    width: 426,2px;
    height: 240px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 30px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center right;
    position: relative;
}

.carousel-item:hover ~ .carousel-item{
    transform: translate3d(170px, 0, 0);
}
.carousel__container:hover .carousel-item{
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover{
    transform: scale(1.4);
    opacity: 1;
}

.carousel-item:hover ~ .carousel-final-item{
    transform: translate3d(170px, 0, 0);
}
.carousel__container:hover .carousel-final-item{
    opacity: 0.3;
}
.carousel__container:hover .carousel-final-item:hover{
    transform: scale(1.4);
    opacity: 1;
}

/*FOOTER*/
.footer{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 10px 0;
    font-size: 13px;
}
.footer a{
    color: white;
    text-decoration: none;
}

/*RESPONSIVE DESIGN*/
@media only screen and (max-width: 600px){
    .main__title--menu:hover .main__title--menu-popup, .main__title--menu-popup:hover{
        display: none;
    }
    .main__title--menu-img img{
        border-radius: 100px;
    }
    .main__title--menu-img img:hover{
        border-radius: 100px;
        transform: none;
    }
    .carousel{
        padding: 25px 25px 10px 15px;
        margin-bottom: 0px;
    }
    .carousel::-webkit-scrollbar{
        display: none;
    }
    .carousel__container:hover .carousel-item:hover{
        transform: none;
    }
    .carousel__container:hover .carousel-final-item:hover{
        transform: none;
    }
    .carousel-item{
        width: 345,222‬‬px;
        height: ‭194,4‬‬px;
        margin-right: 10px;

    }
    .carousel-final-item{
        width: 345,222‬‬px;
        height: ‭194,4‬‬px;
        margin-right: 20px;
    }
    .carousel-item:hover ~ .carousel-item{
        transform: none;
    }
    .carousel-item:hover ~ .carousel-final-item{
        transform: none;
    }
}

@keyframes logo {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}