body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    background:#111111;
}
.button{
    outline: none;
}
/*HEADER*/
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    outline: none;
    width: 200px;
    margin-top: 10px;
    margin-left: 15px;
}

/*MAIN*/
.main{
    height: 150px;
}
.main__title{
    color: white;
    font-size: 25px;
    /*Centrado:*/
    display: flex;
    justify-content: center;
}
.input-search{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius:40px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16;
    height: 50px;
    padding: 0 20px;
    width: 70%;
    outline: none;
    /*Centrado:*/
    display: block;
    margin: auto;
}
::placeholder{
    color: white;
}
.categories__title{
    color: white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
}

.carousel{
    overflow: scroll;
    padding: 45px;
    padding-bottom: 30px;
    position: relative;
    margin-bottom: 20px;
}
/*SCROLLBAR*/
    .carousel::-webkit-scrollbar {
        width: 12px;
    }
    .carousel::-webkit-scrollbar:vertical {
        display: none;
    }
    .carousel::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    .carousel::-webkit-scrollbar-track-piece {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    }
    .carousel::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    .carousel::-webkit-scrollbar-corner{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

.carousel__container{
    white-space: nowrap;
    margin: 20px 0px;
    padding-bottom: 10px;
}
.carousel-item{
    width: 426,2px;
    height: 240px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}
.carousel-final-item{
    width: 426,2px;
    height: 240px;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center right;
    position: relative;
}

.carousel-item:hover ~ .carousel-item{
    transform: translate3d(170px, 0, 0);
}
.carousel__container:hover .carousel-item{
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover{
    transform: scale(1.4);
    opacity: 1;
}

.carousel-item:hover ~ .carousel-final-item{
    transform: translate3d(170px, 0, 0);
}
.carousel__container:hover .carousel-final-item{
    opacity: 0.3;
}
.carousel__container:hover .carousel-final-item:hover{
    transform: scale(1.4);
    opacity: 1;
}

.carousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

/*FOOTER*/
.footer{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 10px 0;
    font-size: 13px;
}
.footer a{
    color: white;
    text-decoration: none;
}

/*RESPONSIVE DESIGN*/
@media only screen and (max-width: 600px){
    .carousel::-webkit-scrollbar{
        display: none;
    }
}

