<div class="container">
    <div class="welcome">
        <h1>
            <strong>Francisco Santopietro</strong> <br/> Fullstack Developer
        </h1>
    </div>
    <div class="webTech">
        <p>Expertise stack:</p>
        <div class="iconsContainer">
            <p>Next<img src="/icons/nextjs.svg"/></p>
            <p>TypeScript<img src="https://img.icons8.com/color/48/null/typescript.png"/></p>
            <p>TailWind<img src="https://img.icons8.com/color/48/null/tailwindcss.png"/></p>
        </div>
    </div>
</div>