.codepen-url{
    color: $primary-color;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    text-decoration: none;
    @include flexCenter;
    border: 1px solid $primary-color;
    border-radius: 5px;
    margin: 7% 30%;
}