html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background-color: #080808;
    font-size: 16px;
}
*::selection {
    background: $secondary-color;
    color: $text-color;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
}

h1{
    color: $text-color;
    font-size: 2.5em;
    line-height: 1.5em;
    margin: 0;
    strong{
        color: $primary-color;
    }
}
h2{
    color: $primary-color;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 0;
}
figure{
    margin: 0;
}
#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}
.bigContainer{
    position: relative;
    z-index: 99;
}