.contact{
    background: linear-gradient(transparent,black);
    height: 7.81em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container{
    width: 80%;
    max-width: 62.5em;
    min-width: 20em;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: wrap;
}
.invitation h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    margin: 0.6em;
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
    color: white;
}
.social-link{
    display: inline-block;
    width: 3.12em;
    height: 3.12em;
    background-size: 3.12em 3.12em;
    margin: 0 0.6em;
    &.twitter{
        background-image: url("https://img.icons8.com/nolan/64/twitter.png");
    }
    &.facebook{
        background-image: url("https://img.icons8.com/nolan/64/facebook.png");
    }
    &.github{
        background-image: url("https://img.icons8.com/nolan/64/github.png");
    }
    &.instagram{
        background-image: url("https://img.icons8.com/nolan/64/instagram-new.png");
    }
    &.linkedin{
        background-image: url("https://img.icons8.com/nolan/64/linkedin.png");
    }
}