.header{
    color: $text-color;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 30%;
}

.logo{
    @include flexCenter;
    img {
        width: 3.5em;
    }
}
.projects_link, .cvdownload-button{
    border: 1px solid $primary-color;
    border-radius: 5px;
    text-decoration: none;
    color: $text-color;
    @include flexCenter;
    &:hover{
        color: $primary-color;
    }
    background-color: $bg-color;
    font-weight: bold;
    padding: 1em;
}

.cvdownload-button {
    svg {
        margin-right: 0.2em;
    }
    &:hover {
        svg {
            polyline, line {
                animation: docs 1s infinite;
            }
        }
    };
}

@keyframes docs {
    0% {
     transform: translateY(0%);
    }
    50% {
     transform: translateY(-15%);
    }
    100% {
     transform: translateY(0%);
    }
}