.hero{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome{
    background-color: rgba($bg-color,0.8);
    border: grey solid;
    border-radius: 15px;
    padding: 0.9em;
}
.webTech p{
    color: $text-color;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1.25em;
}
.iconsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    p {
        font-size: 1em;
        padding: 0.5em;
        @include flexCenter;
    }
    img {
        margin-left: 0.5em;
    }
}