<footer>
    <div class="container">
        <div>
            <a href="https://github.com/Dracorfs" class="social-link github"  target="_blank"></a>
            <a href="https://www.linkedin.com/in/francisco-santopietro/" class="social-link linkedin"  target="_blank"></a>
        </div>
    </div>
</footer>