<header class="header">
    <div>
        <a class="projects_link" href="#projects">Client projects</a>
    </div>
    <a class="cvdownload-button" href="https://drive.google.com/file/d/1UE6EtdCbyCQUfVexCdiJlF9wdtPPKbfu/view?usp=sharing" target="_blank">
        <svg stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="16" width="16" viewBox="0 0 24 24">
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
            <polyline points="7 10 12 15 17 10"></polyline>
            <line y2="3" x2="12" y1="15" x1="12"></line>
        </svg>
        My CV
    </a>
</header>